DATABASE_URL="postgresql://root:root@localhost:5432/eventtix?schema=public"
DIRECT_URL="postgresql://root:root@localhost:5432/eventtix?schema=public"

# Auth.js
AUTH_SECRET="generate-random-secret-here"
AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""
AUTH_ORGANIZER_GOOGLE_EMAILS="organizer@example.com"

# Email (Nodemailer)
SMTP_HOST="smtp.ethereal.email"
SMTP_PORT="587"
SMTP_USER=""
SMTP_PASS=""
SMTP_FROM="EventTix <noreply@eventtix.local>"
