DATABASE_URL="postgresql://root:root@localhost:5432/eventtix?schema=public&sslmode=verify-full"
DIRECT_URL="postgresql://root:root@localhost:5432/eventtix?schema=public&sslmode=verify-full"
ORGANIZER_CHECKIN_PIN="123456"
